.presente {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tampa {
  width: 100px;
  height: 25px;
  background-color: #7aa944;
}

.corpo {
  width: 90px;
  height: 60px;
  background-color: #5c7632;
}

.laco1 {
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: red;
}

.laco2 {
  position: absolute;
  width: 90px;
  height: 15px;
  background-color: red;
  top: 40px;
}
